@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}
/* Modificando margenes y añadiendo flex al header*/
.header {
    margin-top: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 2.5em;

    display: flex;
    justify-content: space-between
    
}

.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}

p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo {
    width: 90px;
}

.options {
    color:  rgba(219, 218, 218, 0.89);
    text-decoration: none;
    position: relative;
    top: 10%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img {
    width: 150px;
    margin-bottom: 0.5em;
}

.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em;
}

.big-hero p {
    font-size: 0.9em;;
    color: rgba(226, 226, 226, 0.87);
    margin-top: -0.7em;
    letter-spacing: 0.000em;
    
}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    margin-top: -4.5em;
    margin-bottom: 3.5em;
    

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    font-size: 8em;
    padding: 0.1em;
}

/* Modificando green area */
.green-area {
    background-color: #0AC693; 
}


.post {
    padding: 1em;
    margin-bottom: -2px;
}
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
    letter-spacing: 0.1em;
}

.post ul {
    list-style: none;
    margin-bottom: -1em;
}

.post ul li {
    min-height: 350px;
    max-height: 1000px;
    min-width: 200px;
    max-width: 300px;
    margin: 2rem auto;
}

.post ul li article {
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;

}

.post article img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: rgb(10, 65, 78);
    margin-top: 0.7em;
    padding: 0em 1rem;
    font-size: 1em;
    margin-right: 0.3em;
    margin-left: 0.3em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.post article p {
    color: black; 
    font-size: 0.9em;
    margin-top: -0.3em;
    margin-bottom: -1.8em;
    margin-right: 0.3em;
    margin-left: 0.3em;

    padding: 1rem;
    line-height: 25px;
    
}

/* About */

.about{
    margin-top: 2em;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.30em;
    margin: 3em;
    letter-spacing: 0.0005em;
}

.bio-info img{
   width: 150px;
}

.bio-info p{
    font-size: 14px;
    padding: 2em;
    margin: 1em 2rem;
    text-align: left;
    line-height: 25px;
    letter-spacing: 2px;
    color: rgba(248, 247, 247, 0.911);

}

/* Modificando formulario de contacto */
.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1em;
    margin: 0rem 2.1rem;
}

.contact * + * {
    margin-top: 1em;

}

.contact-form {
    font-weight: bold;

    display: flex;
    flex-direction: column;

}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
    margin-bottom: 0.8em;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    margin-bottom: 3.5rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}
/* Modificando footer */
footer{
    background-color: #0D5061;
    color:#D7DEE6;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    
}

footer .social-links {
    margin-top: -6.5rem;
}

footer>p{
    margin-top: -5.5rem;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
    /* Modificando big-hero*/
    .big-hero img{
        width: 220px;
    }
    
    .big-hero h2{
       font-size: 2.5rem;
    }

    .big-hero p{
        margin-top: 0.2rem;
        font-size: 1.2rem;
        
    }
    /* Modificando green area */
    .green-area{
        padding: 2rem;
    }
    
    .green-area h2{
        font-size: 1.5rem;
    }
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        min-width: 350px;
        max-width: 3500px;
        margin: 1rem 2rem;
        flex: 1 1 300px;
    }

    .post article img{
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .post article h3{
        font-size: 1.25em;
    }
    
    .post article p{
        font-size: 1.1rem;
    }

    /* Modificando about */

    .about h2{
        font-size: 1.5rem;
    }
    .bio-info img{
        margin-top: -1rem;
        margin-bottom: 0.5rem;
        width: 220px;
    }

    .bio-info p{
        margin-top: -0.2rem;
        font-size: 1.1rem;
    }

    .logo {
        width: 150px;
        margin-top: 0.1rem;
    }

    .show-desktop {
        display: none;
    }



    /*TODO: FALTA CSS */
} 

@media only screen and (min-width: 1024px) {

       /*TODO: FALTA CSS */
     /* Modificando logo/header y big-hero */
       .logo{
           margin-top: 3rem;
       }

       .big-hero img{
           width: 300px;

       }

       .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }
    /*Modificando green area */
    .green-area{
        padding: 2rem;

        
    }

    .post h2{
        margin-top: -1rem;
    }

    .post article{
        min-height: 300px;
        max-height: 1000px;
        min-width: 300px;
        max-width: 360px;

    }

    .post img{
        width: 100%;

    }


   /* Modificando about  */
   .about>.container{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 200px;
    grid-gap: 2px;
   }

   .about>.container h2{
    text-align: center;

    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
  

   }

   .bio-info{

       grid-column-start: 1;
       grid-column-end: 1;
     
   }

   .contact{

       grid-column-start: 2;
       grid-column-end: 2;
   }

   

     
    .hide-desktop{
        display: none;
    }
      

}

@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1440px;
    }

    /* Modifcando menu/header */

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }


    /* Modificando about */
    .about>.container{
        display: grid;
        grid-template-columns: 600px 600px;
        grid-template-rows: 200px;
        grid-gap: 2px;
       }
    
       .about>.container h2{
        text-align: center;
    
     
        grid-column-start: 1;
        grid-column-end: 2;
      
    
       }
    
       .bio-info{
    
           grid-column-start: 1;
           grid-column-end: 1;
         
       }
    
       .contact{
    
           grid-column-start: 2;
           grid-column-end: 2;
       }
    

    .hide-desktop{
        display: none;
    }
    


}